In [64]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import create_engine, inspect

In [65]:
from sqlalchemy import create_engine
database_path = 'sql_hw'
host = 'localhost'
port = 5432
username = 'postgres'
password = 'A1steaksauce'
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database_path}')
#engine = create_engine(f'postgresql://localhost:5432/{database_path}')

connection = engine.connect()

In [66]:
Base = automap_base()
Base.prepare(engine, reflect=True)

In [67]:
Base.classes.keys()

['department', 'departments', 'employees']

In [51]:
session = Session(bind=engine)

In [52]:
data = engine.execute("SELECT * FROM departments")
print(data)

<sqlalchemy.engine.result.ResultProxy object at 0x0000021AA1B92B48>

In [53]:
for record in data:
    print(record)

('d001', 'Marketing')
('d002', 'Finance')
('d003', 'Human Resources')
('d004', 'Production')
('d005', 'Development')
('d006', 'Quality Management')
('d007', 'Sales')
('d008', 'Research')
('d009', 'Customer Service')

In [54]:
inspector = inspect(engine)
columns = inspector.get_columns('salaries')
columns

for column in columns:
    print(column['name'], column['type'])

emp_salary_id INTEGER
salary INTEGER
from_date DATE
to_date DATE

In [60]:
salary_table = session.query(sql_hw) 
for salary in salary_table:
    print(salary.salary)

NameError: name 'sql_hw' is not defined